body {
  background-color: #1F2937;
  font-family: 'Times New Roman', Times, serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 42px;
}

.logo {
  color: wheat;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: nope;
  gap: 16px;
}

li {
  list-style: none;
  color: antiquewhite;
}